**Pandas DataFrames Excerices**

What is a DataFrame in pandas?

DataFrame. DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

Please refer to the Pandas Series Documentation for a full list of methods and how to implement them.

To complete the problems below we first need to import the Pandas and Numpy libraries. If you haven't already installed them, use pip or conda to install them globally or in your virtual environment.

The common alias for pandas is pd.
The common alias for numpy is np.

In [1]:
#pip install pandas
#pip install numpy 

import pandas as pd
import numpy as np

DataFrame() method is used to create a dataframe in Pandas. The syntax of creating dataframe is:

pd.DataFrame(data, index, columns)

The index and columns parameters are optional.

Check the documentation for more information on each of these paramaters

**Problem 1**

Using the list the below create a Pandas dataframe

In [4]:
list1= [1, 2, 3, 4, 5, 6, 7, 8]

df = pd.DataFrame(list1)
print(df)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8

**Problem 2**

Use the same list and create a new Pandas dataframe, except this time explicitly set the column name to "Numbers"

In [6]:
df = pd.DataFrame(list1, columns=['Numbers'])
print(df)

   Numbers
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8

**Problem 3**

Use the list below to create a Pandas dataframe.
What differences do you notice between this one, and the dataframes above?

In [8]:
list2= [['hamburger', 1], ["hotdog", 2], ["chicken sandwich", 3]]

df=pd.DataFrame(list2)
print(df)

                  0  1
0         hamburger  1
1            hotdog  2
2  chicken sandwich  3

**Problem 4**

Use the dictionary below to create a Pandas dataframe

In [10]:
dict1 = {'Name': ['Tom', 'nick', 'krish', 'jack'],
        'Age': [20, 21, 19, 18]}

df = pd.DataFrame(dict1)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

**Problem 5**

Use the same dictionary as above to create a new dataframe, but this time explicitly set the index with the following values: 'rank1', 'rank2', 'rank3','rank4'

In [11]:
df = pd.DataFrame(dict1, index=['rank1', 'rank2', 'rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   20
rank2   nick   21
rank3  krish   19
rank4   jack   18

**Problem 6 **

Use what you know about series and convert a numpy array to a dataframe of given shape.

Reshape the series ser into a dataframe with 7 rows and 5 columns

In [15]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(5,7))
print(df)

   0  1  2  3  4  5  6
0  3  2  6  2  3  6  6
1  8  6  5  3  3  5  4
2  9  7  8  3  3  1  8
3  7  7  5  5  6  4  4
4  6  7  6  8  6  7  5

**Problem 7**

Use the .read_csv() method to create a pandas dataframe from this link: 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'

Use the following attributes and methods on the dataframe to explore the dataset.


*   .shape
*   .dtypes
*   .get_dtype_counts()
*   .dtypes.value_counts()
*   .describe()
*   .values
*   .values.tolist()
*   .head()


Review the documentation to see exactly what each method returns

In [18]:
df7 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv') 
print(df7)
df7.shape
df7.dtypes
df7.dtypes.value_counts()
df7.describe()
df7.values
df7.values.tolist()
df7.head()

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
3          Audi      100  Midsize        NaN   37.7       44.6      19.0
4           BMW     535i  Midsize        NaN   30.0        NaN      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                None      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                None      Front  ...        7.0   187.0
89         30.0                None      Front  ...        5.0   180.0
90         25.0                None      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

**Problem 8**

Use an optional parameter for the .read_csv() to only import the 'crim' and 'medv' columns of the following dataset as a dataframe.

https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')
df = df[['crim', 'medv']]
print(df)

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

**Problem 9**

Using the dataframe from Problem 7, use the .rename() or .values() method to rename the column 'Type' as 'Car Type'

In [24]:
rename_df= df7.rename(columns={'Type': 'Car Type'})
print(rename_df)

   Manufacturer    Model Car Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
3          Audi      100  Midsize        NaN   37.7       44.6      19.0
4           BMW     535i  Midsize        NaN   30.0        NaN      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                None      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                None      Front  ...        7.0   187.0
89         30.0                None      Front  ...        5.0   180.0
90         25.0                None      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

**Problem 10**

Using the same dataframe from Problem 9, use df.columns.map() with a lambda function to replace all of the "." with an "_" in the column names.

In [28]:
replace_with_lambda = rename_df.columns.map(lambda x:x.replace ('.', '_'))
print(replace_with_lambda)

Index(['Manufacturer', 'Model', 'Car Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

**Problem 11**

Use the same dataframe from Problem 10. Search the documentation for a built in method to check if the dataframe has any missing values.

*Hint: you may need to chain multiple methods and attributes

In [35]:
x= replace_with_lambda.isnull()
print(x)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False]

**Problem 12**

Use the same dataframe from Problem 11. Use the .apply() method along with a lambda function to count the number of missing values in each column of the datarame.

In [39]:
missing_counts = df.apply(lambda y: y.isnull().sum())
print(missing_counts)

crim    0
medv    0
dtype: int64

**Problem 13**

Use the same dataframe from Problem 12. Use .loc and .iloc on the dataframe. What is the difference between the two?

**Problem 14**

Use the same dataframe from Problem 13, Use the .sortindex() method to sort the columns in reverse alphabetical order.

Problem 15

Use the same dataframe from Problem 14. Change the pandas display setting on printing the dataframe so that it shows a maximum of 10 rows and 10 columns.