In [9]:
import pandas as pd
import numpy as np

DataFrame

In [11]:
data ={'apple sales':[3,2,0,1,6,9], 'orange sales': [5,8,0,5,3,9] }
print(data)

df_sales = pd.DataFrame(data, index=['2000', '2001', '2002', '2003','2004','2005','2006','2007','2008'] )

{'apple sales': [3, 2, 0, 1, 6, 9], 'orange sales': [5, 8, 0, 5, 3, 9]}

ValueError: Length of values (6) does not match length of index (9)

In [ ]:
sales = df_sales.loc['2000']
print(type(sales))

In [2]:
df_sales.iloc[1:3]

NameError: name 'df_sales' is not defined

In [ ]:

df_sales.insert(1, 'pinapple sales', [4,5,6,2,7], allow_duplicates =True)

In [19]:
# Define a dictionary containing Students data
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
       'Score 2' : [50,96,60,30]}
print("------before -------")  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
print("------after adding column -------")
# using DataFrame.assign() method adding 'Address' column and equating it to the list
df = df.assign(address = ['NYC', 'NJ', 'CA', 'PA'])
print(df)
print("------after sorting -------")
print(df.sort_values(by='Score 1', ascending=False))

#print (df.sort_values(by=['Score 1', 'Height'], ascending=[False, True]))

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height Qualification  Score 1  Score 2 address
0    Jane     5.1           Msc       56       50     NYC
1  Princi     6.2            MA       86       96      NJ
2   James     5.1           Msc       77       60      CA
3    Fadi     5.2           Msc       45       30      PA
------after sorting -------
     Name  Height Qualification  Score 1  Score 2 address
1  Princi     6.2            MA       86       96      NJ
2   James     5.1           Msc       77       60      CA
0    Jane     5.1           Msc       56       50     NYC
3    Fadi     5.2           Msc       45       30      PA

In [21]:
print(df['Score 1']> 70)
print(type(df['Score 1']> 70))

0    False
1     True
2     True
3    False
Name: Score 1, dtype: bool
<class 'pandas.core.series.Series'>

In [23]:
print(df[df['Score 1']> 70])
print(type(df[df['Score 1']> 70]))

     Name  Height Qualification  Score 1  Score 2 address
1  Princi     6.2            MA       86       96      NJ
2   James     5.1           Msc       77       60      CA
<class 'pandas.core.frame.DataFrame'>

In [26]:
x= print(df[(df['Score 1']>= 70) & (df['Score 2'] >= 80)])
print(type(x))

     Name  Height Qualification  Score 1  Score 2 address
1  Princi     6.2            MA       86       96      NJ
<class 'NoneType'>

In [28]:
df.describe()

         Height    Score 1   Score 2
count  4.000000   4.000000   4.00000
mean   5.400000  66.000000  59.00000
std    0.535413  18.814888  27.64055
min    5.100000  45.000000  30.00000
25%    5.100000  53.250000  45.00000
50%    5.150000  66.500000  55.00000
75%    5.450000  79.250000  69.00000
max    6.200000  86.000000  96.00000

In [29]:
df.describe(include='all')

        Name    Height Qualification    Score 1   Score 2 address
count      4  4.000000             4   4.000000   4.00000       4
unique     4       NaN             2        NaN       NaN       4
top     Jane       NaN           Msc        NaN       NaN     NYC
freq       1       NaN             3        NaN       NaN       1
mean     NaN  5.400000           NaN  66.000000  59.00000     NaN
std      NaN  0.535413           NaN  18.814888  27.64055     NaN
min      NaN  5.100000           NaN  45.000000  30.00000     NaN
25%      NaN  5.100000           NaN  53.250000  45.00000     NaN
50%      NaN  5.150000           NaN  66.500000  55.00000     NaN
75%      NaN  5.450000           NaN  79.250000  69.00000     NaN
max      NaN  6.200000           NaN  86.000000  96.00000     NaN