Slicing Pandas Dataframeâ€™s Data
Slicing Dataframe using DataFrame.iloc[]

In [5]:
import pandas as pd
import numpy as np

In [6]:
 
#Slicing by rows using DataFrame.iloc[]
# Initializing the nested list with Data set
employee_list = [['James', 36, 75, 5428000],
               ['Villers', 38, 74, 3428000],
               ['VKole', 31, 70, 8428000],
               ['Smith', 34, 80, 4428000],
               ['Gayle', 40, 100, 4528000],
               ['Rooter', 33, 72, 7028000],
               ['Peterson', 42, 85, 2528000],
               ['John', 41, 85, 1528000]]
 
# creating a pandas dataframe
df = pd.DataFrame(employee_list, columns=['Name', 'Age', 'Weight', 'Salary'])
 
print(' ------data frame before slicing-----')
print(df)

# Slicing rows in data frame
df1 = df.iloc[0:4]
print(' ------data frame after slicing----')
print(df1)

 ------data frame before slicing-----
       Name  Age  Weight   Salary
0     James   36      75  5428000
1   Villers   38      74  3428000
2     VKole   31      70  8428000
3     Smith   34      80  4428000
4     Gayle   40     100  4528000
5    Rooter   33      72  7028000
6  Peterson   42      85  2528000
7      John   41      85  1528000
 ------data frame after slicing----
      Name  Age  Weight   Salary
0    James   36      75  5428000
1  Villers   38      74  3428000
2    VKole   31      70  8428000
3    Smith   34      80  4428000

In [10]:
#Slicing by columns
# Initializing the nested list with Data set
employee_list = [['James', 36, 75, 5428000],
               ['Villers', 38, 74, 3428000],
               ['VKole', 31, 70, 8428000],
               ['Smith', 34, 80, 4428000],
               ['Gayle', 40, 100, 4528000],
               ['Rooter', 33, 72, 7028000],
               ['Peterson', 42, 85, 2528000],
               ['John', 41, 85, 1528000]]
 
# creating a pandas dataframe
df = pd.DataFrame(employee_list, columns=['Name', 'Age', 'Weight', 'Salary'])
 
# data frame before slicing
print(df)
print( '====Slicing columns in data frame======')

emp_df =df.iloc[:, 0:3]
print(emp_df)

       Name  Age  Weight   Salary
0     James   36      75  5428000
1   Villers   38      74  3428000
2     VKole   31      70  8428000
3     Smith   34      80  4428000
4     Gayle   40     100  4528000
5    Rooter   33      72  7028000
6  Peterson   42      85  2528000
7      John   41      85  1528000
====Slicing columns in data frame======
       Name  Age  Weight
0     James   36      75
1   Villers   38      74
2     VKole   31      70
3     Smith   34      80
4     Gayle   40     100
5    Rooter   33      72
6  Peterson   42      85
7      John   41      85

In [11]:
#Slicing Dataframe using DataFrame.loc[]
#create DataFrame with six columns
df = pd.DataFrame({'team': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
                   'points': [18, 22, 19, 14, 14, 11, 20, 28],
                   'assists': [5, 7, 7, 9, 12, 9, 9, 4],
                   'rebounds': [11, 8, 10, 6, 6, 5, 9, 12],
                   'steals': [4, 3, 3, 2, 5, 4, 3, 8],
                   'blocks': [1, 0, 0, 3, 2, 2, 1, 5]})

#view DataFrame
print(df)

  team  points  assists  rebounds  steals  blocks
0    A      18        5        11       4       1
1    B      22        7         8       3       0
2    C      19        7        10       3       0
3    D      14        9         6       2       3
4    E      14       12         6       5       2
5    F      11        9         5       4       2
6    G      20        9         9       3       1
7    H      28        4        12       8       5

In [12]:
#Slice by Specific Column Names
#slice columns team and rebounds
df_new = df.loc[:, ['team', 'rebounds']]

#view new DataFrame
print(df_new)

  team  rebounds
0    A        11
1    B         8
2    C        10
3    D         6
4    E         6
5    F         5
6    G         9
7    H        12

In [13]:
#slice columns between team and rebounds
df_new = df.loc[:, 'team':'rebounds']

#view new DataFrame
print(df_new)

  team  points  assists  rebounds
0    A      18        5        11
1    B      22        7         8
2    C      19        7        10
3    D      14        9         6
4    E      14       12         6
5    F      11        9         5
6    G      20        9         9
7    H      28        4        12

In [14]:
df.describeS

<bound method NDFrame.describe of   team  points  assists  rebounds  steals  blocks
0    A      18        5        11       4       1
1    B      22        7         8       3       0
2    C      19        7        10       3       0
3    D      14        9         6       2       3
4    E      14       12         6       5       2
5    F      11        9         5       4       2
6    G      20        9         9       3       1
7    H      28        4        12       8       5>

In [15]:
df.describe(include='all')

       team     points   assists   rebounds   steals    blocks
count     8   8.000000   8.00000   8.000000  8.00000  8.000000
unique    8        NaN       NaN        NaN      NaN       NaN
top       A        NaN       NaN        NaN      NaN       NaN
freq      1        NaN       NaN        NaN      NaN       NaN
mean    NaN  18.250000   7.75000   8.375000  4.00000  1.750000
std     NaN   5.365232   2.54951   2.559994  1.85164  1.669046
min     NaN  11.000000   4.00000   5.000000  2.00000  0.000000
25%     NaN  14.000000   6.50000   6.000000  3.00000  0.750000
50%     NaN  18.500000   8.00000   8.500000  3.50000  1.500000
75%     NaN  20.500000   9.00000  10.250000  4.25000  2.250000
max     NaN  28.000000  12.00000  12.000000  8.00000  5.000000